.search {
    width: 900px;
    margin: 0 auto;
}


.search input {
    width: 300px;
    height: 45px;
    margin: 10px 0 0 0;
    border-radius: 10px;
    border: none;
    padding: 0 0 0 20px;
    font-size: 20px;
}

.search input:focus {
    outline: none;
    border: 2px solid #f1c40f;
}

.searchlist {
    position: relative;
    margin-top: 5px;
    height: auto;
}

.searchlist ul {
    position: absolute;
    height: 50px;
    width: 300px;
    text-align: center;
    top: 0;
    left: 0;
    border-radius: 10px;
    z-index: 99;
}

.search ul li {
    background: rgba(214, 214, 214, 0.9);
    border-bottom: 2px solid #ddd;
    color: #353535;
    font-size: 1.7rem;
    list-style: none;
}

select {
    width: 120px;
    height: 35px;
    border-radius: 10px;
    margin-left: 10px;
    font-weight: 600;
    text-align: center;
}